:root{
    --primary: #E31C25;
    --secondary: #343a40;
}
.schedules_page{
	padding: 80px 10px;
	padding-top: 10rem;
}
.schedules_sec{
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    justify-content: center;
    margin-top: 2rem;    
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
}
.schedules_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	-ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
}
.sc_rd_Box {
	width: 100%;
	height: 100%;
    font-size: 16px;
    margin-right: -1px;
    vertical-align: top;
}
.sc_rd_Box:nth-child(even) .day:after {
    content: '';
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.sc_rd_Box .day {
    background-color: var(--primary);
    color: #ffffff;
    display: block;
    font-weight: 700;
    font-size: 12px;
    -webkit-letter-spacing: 2px;
  	-moz-letter-spacing: 2px;
  	-ms-letter-spacing: 2px;
    letter-spacing: 2px;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
}

.sc_rd_Box ul {
    border: solid #c8c8c8;
    border-width: 0 1px;
    margin: 0!important;
}
.sc_rd_Box ul li {
	list-style: none;
    background-image: none!important;
    background-color: #000000;
    padding: 10px!important;
    color: var(--color, #f0f0f0);
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sc_rd_Box ul li a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sc_rd_Box .time {
    text-transform: uppercase;
    font-size: 15px;
    color: #6a6a6a;
    display: block;
    clear: both;
    line-height: normal;
}
.sc_rd_item:hover{
	background: #fff;
}
.sc_rd_item:hover a{
	color: #000!important;
}

.nav-bar{
    z-index: 999999!important;
}
#programFilter{
    background-color: var(--secondary);
}
.class-section .classCard{
    overflow: hidden;
}
.class-section .classCard:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .5s;
    transform: translateY(100%);
    opacity: .3;
}
.class-section .classCard:hover:before{
    background-color: var(--primary);
    transform: translateY(-0%);
}

.class-section .classCard h2{
    position: absolute;
    top: 45%;
    color: #fff;
    left: 45%;
    transform: translateY(160px);
    opacity: 0;
    transition: .5s;
    text-decoration: underline;  
}
.class-section .classCard:hover h2{
    opacity: 1;
    transform: translateY(0);
}

#class-all table tr td{
    transition: .5s;
    cursor: pointer;
}
#class-all table tr td:hover a{
    text-decoration: underline;
}
#class-all table tr td a{
    color: var(--secondary);
    text-decoration: none;
}
#class-all table tr td a.active{
    color: #fff;
}
#single-page-content{
    padding: 0 5rem;
    padding-bottom: 2rem;
    text-align: justify;
}
.single-page-container{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.nav-pills .nav-link:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(227, 28, 37);
}
@media (max-width: 991px) {
    .right-sidebar{
        display: none;
    }
    .two-Layout_container div:first-child{
        width: 100%!important;
        padding: 0 0!important;
    }
    .navbar-dark .navbar-toggler{
        right: 0;
    }
}
@media (min-width:300px) AND (max-width: 600px) {

    .two-Layout_container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .two-Layout_container div:first-child{
        width: 100%!important;
        padding: 0!important;
    }
    .two-Layout_container div:last-child{
        width: 100%!important;
        padding: 0!important;
    }
    .right-sidebar .form-containter{
        display: none;
    }
    .class-section{
        margin: 0;
    }
    #single-page-content{
        padding-bottom: 2rem;
    }


}